:root {
--zw-green:#009739; 
--zw-red: #EF3340;
--zw-yellow:#fce300;
--zw-black:#000000;
--bs-link-color: #767676;
}

.bg-dark-zw {
    --bs-bg-opacity: 10;
    background-color:var(--zw-black) !important;
}


a {
  color: #4e73df;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color:#224abe;
  text-decoration:underline;
}

