{% extends "base.html" %}

{% block content %}
 <section class="page-section bg-light" id="team">
            <div class="container">

<div class="container py-9 py-lg-11 position-relative z-index-1">
    <div class="row">
            <div class="col-lg-5 mb-5 mb-lg-0">
                <h5 class="mb-4 text-info aos-init aos-animate" data-aos="fade-up">PyCon  Zimbabwe 2024 Schedule</h5>
                <div class="nav nav-pills flex-column aos-init aos-animate" id="myTab" role="tablist" data-aos="fade-up">
                    <button class="nav-link px-4 text-start mb-3 active" id="d1-tab" data-bs-toggle="tab" data-bs-target="#day1" type="button" role="tab" aria-controls="day1" aria-selected="true">
                        <span class="d-block fs-5 fw-bold">Day 1</span>
                        <span class="small">Thursday, Oct 31, 2024</span>
                    </button>
                    
                    <button class="nav-link px-4 text-start" id="d2-tab" data-bs-toggle="tab" data-bs-target="#day2" type="button" role="tab" aria-controls="day2" aria-selected="false" tabindex="-1">
                        <span class="d-block fs-5 fw-bold">Day 2</span>
                        <span class="small">Friday, Nov 1, 2024</span>
                    </button>
                </div>
            </div>
            
            <div class="col-lg-7 col-xl-6">
                <div data-aos="fade-up" class="tab-content aos-init aos-animate" id="myTabContent">
                    <div class="tab-pane fade active show" id="day1" role="tabpanel" aria-labelledby="d1-tab">
                        <ul class="pt-4 list-unstyled mb-0">
                            {% for time, title, speaker in  DAY1 %}
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-muted">{{ time }}</span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>{{ title }}</h4>
                                    <p class="mb-0">{{ speaker }}</p>
                                </div>
                            </li>
                            {% endfor %}
                                                  </ul>
                    </div>
                    <div class="tab-pane fade" id="day2" role="tabpanel" aria-labelledby="d2-tab">
                        <ul class="pt-4 list-unstyled mb-0">
                            {% for time, title, speaker in  DAY2 %}
                            <li class="d-flex flex-column flex-md-row py-4">
                                <span class="flex-shrink-0 width-13x me-md-4 d-block mb-3 mb-md-0 small text-muted">{{ time }}</span>
                                <div class="flex-grow-1 ps-4 border-start border-3">
                                    <h4>{{ title }}</h4>
                                    <p class="mb-0">{{ speaker}}</p>
                                </div>
                            </li>
                            {% endfor %}
                                        
                       
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </section>
    {% endblock content %}
