{% extends "base.html" %}

{% block content %}

  <!-- Sponsors Grid-->
        <section class="page-section bg-light" id="portfolio">
            <div class="container">
                <div class="text-center">
                    <h1 class="section-heading text-uppercase">Our Sponsors</h2>
                </div>
                <div class="row">
                    {% for logo, link in PLATINUM_SPONSORS %}
                    <div class="col-lg-12 col-sm-6 mb-4">
                        <div class="portfolio-item">
                            <a class="portfolio-link"  href="{{ link }}">
                                <img class="img-fluid" src="{{ site_url }}/theme/images/img/sponsors/{{ logo }}" alt="..." />
                            </a> 
                        </div>
                    </div>
		    {% endfor %}

		  {% for logo, link in COMMUNITY_SPONSORS %}
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link"  href="{{ link }}">
                                <img class="img-fluid" src="{{ site_url }}/theme/images/img/sponsors/{{ logo }}" alt="..." />
                            </a>
                        </div>
                    </div>
		    {% endfor %}
                </div>
            </div>
        </section>

{% endblock content %}
